version: '2.2'

services:
  penghibur-malam:
    build: .
    container_name: penghibur_malam
    restart: unless-stopped
    volumes:
      # Mount file cookies.txt agar bot bisa baca
      - ./cookies.txt:/app/cookies.txt
      # Persist data (termasuk playlists.json)
      - ./data:/app/data
      # (Opsional) Persist log jika perlu
      # - ./logs:/app/logs
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - pot-provider

  pot-provider:
    image: brainicism/bgutil-ytdlp-pot-provider
    container_name: pot_provider
    restart: unless-stopped
    ports:
      - "4416:4416"
